.config-grid.full-chute-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1000px) {
    .config-grid.full-chute-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .config-grid.full-chute-grid {
        grid-template-columns: minmax(0, 1fr);
    }
}
