<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nat_Conveyor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Nat.Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Nat_Conveyor.Properties.Settings>
      <setting name="postalCodeSort" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RejectedChute" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="DB_wb" serializeAs="String">
        <value>nationex.wb</value>
      </setting>
      <setting name="DB_server" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_user" serializeAs="String">
        <value />
      </setting>
      <setting name="DB_password" serializeAs="String">
        <value />
      </setting>
      <setting name="SyncDelay" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DDE_server" serializeAs="String">
        <value>192.168.1.128</value>
      </setting>
      <setting name="DDE_port_out" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="Code86Retry" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="camera_port" serializeAs="String">
        <value>5002</value>
      </setting>
      <setting name="master" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoExtStatsStart" serializeAs="String">
        <value>7:00</value>
      </setting>
      <setting name="NoExtStatsEnd" serializeAs="String">
        <value>11:59</value>
      </setting>
      <setting name="ReadTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="lineID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EodTime" serializeAs="String">
        <value>08:25:00</value>
      </setting>
      <setting name="PostalCodeSoftDisable" serializeAs="String">
        <value>23:30:00</value>
      </setting>
      <setting name="Conveyor_version" serializeAs="String">
        <value>V2</value>
      </setting>
      <setting name="PostalCodeSoftEnable" serializeAs="String">
        <value>21:30:00</value>
      </setting>
      <setting name="CurrentShift" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SortType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GlobalDelay" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="TestMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Dim_timeout" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MysqlDev" serializeAs="String">
        <value>192.168.1.222</value>
      </setting>
      <setting name="DimConverterType" serializeAs="String">
        <value>New</value>
      </setting>
      <setting name="Disable98Code" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DimConverterIP" serializeAs="String">
        <value>10.10.1.51</value>
      </setting>
      <setting name="NoRead" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="smsList" serializeAs="String">
        <value>5149472233</value>
      </setting>
      <setting name="NewDimensionner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="scale_port" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="depotID" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="local_user" serializeAs="String">
        <value>nationex</value>
      </setting>
      <setting name="local_password" serializeAs="String">
        <value>Nationex01!</value>
      </setting>
      <setting name="ScaleConverterType" serializeAs="String">
        <value>Old2</value>
      </setting>
      <setting name="ScaleConverterIP" serializeAs="String">
        <value>192.168.128.250</value>
      </setting>
      <setting name="dimension_port" serializeAs="String">
        <value>1701</value>
      </setting>
      <setting name="local_server" serializeAs="String">
        <value>192.168.128.130</value>
      </setting>
      <setting name="boa" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="small_parcel" serializeAs="String">
        <value>0</value>
      </setting>
    </Nat_Conveyor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Nat.Dal.Properties.Settings>
      <setting name="local_server" serializeAs="String">
        <value>192.168.128.130</value>
      </setting>
      <setting name="local_user" serializeAs="String">
        <value>nationex</value>
      </setting>
      <setting name="local_password" serializeAs="String">
        <value>Nationex01!</value>
      </setting>
      <setting name="MysqlDatabase" serializeAs="String">
        <value>nationex</value>
      </setting>
      <setting name="GoogleKey" serializeAs="String">
        <value>AIzaSyBDZSNWj5GBb84Y09h7F124b9LrLzAVou0</value>
      </setting>
      <setting name="Dev" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>2525</value>
      </setting>
      <setting name="SSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MysqlUser" serializeAs="String">
        <value>EMoro</value>
      </setting>
      <setting name="MysqlPassword" serializeAs="String">
        <value>losch7171</value>
      </setting>
      <setting name="MysqlServer" serializeAs="String">
        <value>mysql.nationex.local</value>
      </setting>
      <setting name="smtpServer" serializeAs="String">
        <value>mail.smtp2go.com</value>
      </setting>
      <setting name="smtpAccount" serializeAs="String">
        <value>nationex_smtp</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>zgXO0fneUred</value>
      </setting>
      <setting name="local_database" serializeAs="String">
        <value>nationex</value>
      </setting>
    </Nat.Dal.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Storage.v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.1684" newVersion="1.41.1.1684" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.9.0" newVersion="106.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.40" newVersion="1.3.6.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
